.btn {
    height: 150px;
    width: 150px;
    margin: 10px;
    background-color: rgb(119, 166, 179);
    color: rgb(3, 3, 3);
    font-size: 70px;
}

.textbox {
    width: 450px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: xx-large;
    background-color: aquamarine;
}

.main {
    background-image: url(backtic.jpg);
}